

<template>
	<form v-if="!active" @submit.prevent="startHandler">
		<h1> <center> Trivia Game </center> </h1> <hr>
			<label for="numberOfQuestions"> <b> Number of questions </b> </label><br>
			<input @input="onNumberOfQuestionsHandler" type="number" value="10" required/> <br><br>
		
			<label for="categories"> <b> Select Category </b></label><br>
			<select name="category" @change="onChangeHandler">
			<option selected value="0">Any</option>
			<option v-for="category in categories" :value="category.id" :key="category.id">
					{{ category.name }}
			</option>
			</select><br><br>
		
			<label for="difficulty"> <b> Select Difficulty </b>	</label><br>
			<select name="difficulty" @change="onChangeHandler" class="form-select">
				<option value="0">Any</option>
				<option value="easy">Easy</option>
				<option value="medium">Medium</option>
				<option value="hard">Hard</option>
			</select><br><br>
		
			<label for="type"> <b> Select Type </b></label><br>
			<select name="type" @change="onChangeHandler">
			<option value="0">Any</option>
			<option value="multiple">Multiple Choice</option>
			<option value="boolean">True / False</option>
			</select><br><br>
		
			<button>Start Game</button>
	</form>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex';

export default {
	name: 'Home',
	data() {
		return {
			options: {
				numbers: '10',
				category: '0',
				difficulty: '0',
				type: '0',
			},
		};
	},
	computed: {
		...mapState(['error', 'categories', 'active']),
	},
	methods: {
		...mapActions(['fetchCategories', 'fetchQuestions']),
		...mapMutations(['setCategories', 'setOptions', 'setActive']),
		onNumberOfQuestionsHandler(e) {
			this.options.numbers = e.target.value;
		},
		onChangeHandler(e) {
			this.options[e.srcElement.name] = e.target.value;
		},
		startHandler() {
			this.setOptions(this.options);
			this.fetchQuestions(this.$router);
		},
	},
	created() {
		this.fetchCategories();
		if (this.active) {
			this.$router.push('/question');
		}
	},
};
</script>

<style></style>
