<template>
	<div>
		<h1>Game is finished!</h1>
		<p> You earned: {{ score }} out of {{ questions.length * 10 }} </p>

		<div>
			<button @click="newGame">Try another new game</button>
			<button @click="restartGame">Restart the game with same options</button>
		</div>
		<hr />
		<ResultQuestion
			v-for="(question, index) in questions"
			:key="index"
			:question="question"
			:userAnswer="userAnswers[index]"
		/>
	</div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
import ResultQuestion from './ResultQuestion.vue';

export default {
	name: 'Result',
	components: {
		ResultQuestion,
	},
	computed: {
		...mapState([
			'score',
			'questions',
			'active',
			'correctAnswers',
			'userAnswers',
		]),
	},
	methods: {
		...mapActions(['fetchQuestions']),
		...mapMutations(['setActive', 'setStep', 'setScore']),
		newGame() {
			this.setActive(false);
			this.$router.push('/');
		},
		restartGame() {
			this.fetchQuestions(this.$router);
		},
	},
	created() {
		if (this.active) {
			this.$router.push('/question');
		}
		if (!this.questions) {
			this.$router.push('/');
		}
	},
};
</script>

<style scoped>
</style>
