<template>
	<div>
		<button
			@click="handleAnswer(answer, $event)">
			{{ decodeURIComponent(answer.trim()) }}
		</button>
	</div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
export default {
	name: 'QuestionAnswer',
	props: {
		answer: {
			type: String, 
			required: true,
		},
		correctAnswer: {
			type: String,
			required: true,
		},
		questionsLength: {
			type: Number,
			required: true,
		},
	},
	
	computed: {
		...mapState(['step', 'score', 'correctAnswers']),
	},
	methods: {
		...mapMutations(['setStep', 'setScore', 'setActive', 'setUserAnswer']),
		handleAnswer(answer) {
			if (answer === this.correctAnswer) {
				this.setScore(this.score + 10);
			} 
			this.setUserAnswer(answer);
			this.$emit('toggleBtns', 'disable-btns');
			this.disabled = true;
			setTimeout(() => {
				this.setStep(this.step + 1);
				this.$emit('toggleBtns', '');
				this.disabled = false;
				
				if (this.step === this.questionsLength) {
					this.$router.push('/result');
					this.setActive(false);
				}
			}, 1000);
		},
	},
};
</script>

<style>
</style>
