<template>
	<section>
				<p>Current question category: {{ decodeURIComponent(question.category) }} </p>
				<span >Current question difficulty: {{ decodeURIComponent(question.difficulty) }} </span>
				<p>You are on question: {{ step + 1 }} of {{ questionsLength }}</p>
				<h2>{{ decodeURIComponent(question.question) }}</h2>
				<hr/>
	</section>
</template>

 <script>
export default {
	name: 'QuestionTitle',
	props: {
		question: {
			type: Object,
			required: true,
		},
		step: {
			type: Number,
			required: true,
		},
		questionsLength: {
			type: Number,
			required: true,
		},
	},
	updated() {
		switch (this.question.difficulty) {
			case 'easy':
				break;
			case 'medium':
				break;
			case 'hard':
				break;
			default:
				break;
		}
	},
	created() {
		switch (this.question.difficulty) {
			case 'easy':
				break;
			case 'medium':
				break;
			case 'hard':
				break;
			default:
				break;
		}
	},
};
</script>
<style scoped></style>
